/* Login.css */

.App {
    background-color: #f1f1f1;
   
  }
  
  .loginContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginContainer label {
    display: block;
    margin-bottom: 10px;
  }
  
  .loginContainer input[type="text"],
  .loginContainer input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .loginContainer button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .loginContainer button:hover {
    background-color: #45a049;
  }
  
  