.confirmation-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #cda8eb;
    border: 1px solid #810098;
    padding: 20px;
    text-align: center;
  }
  
  .confirmation-popup .message {
    margin-bottom: 10px;
  }
  
  .confirmation-popup .buttons button {
    margin-right: 10px;
  }
  